doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='/javascripts/script.js')
  body
    block content

    script(type='text/javascript', src='/javascripts/ga.js')